body {
    padding: 70px 0;
}

h1 {
    margin: 0;
}

h2 {
    margin-top: 0;
    font-size: 1.5em;
}

.thumbnail {
    height: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.caption p a {
    text-decoration: none;
}

.navbar-fixed-bottom .navbar-text {
    margin-left: 0;
}