body {
    padding: 70px 0;
}

h1 {
    margin: 0;
}

h2 {
    margin-top: 0;
    font-size: 1.5em;
}

.thumbnail {
    height: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.caption p a {
    text-decoration: none;
}

#vacancies-num .navbar-text {
    margin-left: 0;
    white-space: nowrap;
}

#vacancies-num .label-success {
    margin-left: 5px;
}

#search .form-group,
#vacancies-num .label-success,
.navbar-fixed-bottom .navbar-collapse .navbar-link{
    margin-right: 5px;
}

.navbar-fixed-bottom .navbar-link {
    margin-top: 10px;
}