h1 {
    margin: 0;
}

h2 {
    margin-top: 0;
    font-size: 1.5em;
}

.thumbnail {
    height: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.caption p a {
    text-decoration: none;
}

#vacancies {
    margin-top: 70px;
    padding-bottom: 70px;
}

#vacancies-num {
    margin-right: 15px;
}

#specializations .navbar-text {
    margin-left: 0;
}